<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% include 'games/nav.html' %}
    {% include 'games/cdn.html' %}


</head>
<body>
{% block content %}



{% endblock %}

</body>
</html>