{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="{%static 'css/font-awesome.min.css '%}" type="text/css">
<link rel="stylesheet" href="{%static 'css/flaticon.css'%}" type="text/css">
<link rel="stylesheet" href="{%static 'css/nice-select.css'%}" type="text/css">
<link rel="stylesheet" href="{%static 'css/owl.carousel.min.css'%}" type="text/css">
<link rel="stylesheet" href="{%static 'css/magnific-popup.css'%}" type="text/css">
<link rel="stylesheet" href="{%static 'css/slicknav.min.css'%}" type="text/css">
<link rel="stylesheet" href="{%static 'css/style.css'%}" type="text/css">
{% endblock %}

</body>
</html>