<!DOCTYPE html>
<html lang="en">
<head>
    <meta charet="UTF-8">
    <style>

*{
	box-sizing: border-box;
}

.footer-end {
    background-color: #3B5998;
    padding: 15px;
    color: black;
}

footer {
	margin-top: 200px;
	width: 100%;
}

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
}


.footer-items p {
	color: transparent;
	font-size: 16px;
	text-align:justify;
	line-height:25px;
}

.social media {
	width: 100%;
	color: #fff;
	text-align: center;
}

.social media a {
	text-decoration: none;
}

.social media i {
	height: 15px;
	width: 15px;
	margin: 20px 5px;
	padding:10px;
	color: #fff;
	border-radius: 50%;
	border:1px solid grey;
	transition: 0.3s;
}

.social-media:hover {
	background: grey;
}

footer-bottom {
	padding: 10px;
	background: #3d545f;
	color: #fff;
	font-size: 12px;
}

@media screen and (max-width: 85px){
	.footer-items {
		width: 50%;

	}
}

    </style>
	<html>
<head>
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


</head>
<body>
{% block content %}
<footer>
	<div class="footer-end">
	<div class="container">
		<div class="row">
			<div class="col-md-6">
				<h4>About Us</h4>
				<p>Play Go is a team of sports players  with a vision to facilitate sports through its online platform.</p>

				<div class="footer-items">
					<h2>Contact Us</h2>
				<div class="border"></div>
				<ul>
					<li><i class="fa fa-map-marker" aria-hidden="true"></i>1,Gandhi Nagar, Hyderabad</li>
					<li><i class="fa fa-phone" aria-hidden="true"></i>7095885990</li>
					<li><i class="fa fa-envelope" aria-hidden="true"></i>venugopal@suntechnoservices.com</li>
				</ul>
					<div class="social-media">
						<a href="facebook"><i class="fa fa-facebook" ></i></a>&nbsp;&nbsp;
					<a href="twitter"><i class="fa fa-twitter" ></i></a>&nbsp;&nbsp;
					<a href="instagram"><i class="fa fa-instagram" ></i></a>&nbsp;&nbsp;
					<a href="google-plus"><i class="fa fa-google-plus" ></i></a>
				</div>
			</ul>

				 <p class="powered-by"><span>Powered by SunTechnoServices</span>
				<p class="copyright-text">Copyright &copy; 2019-2020. All Rights are reserved.</p>
			</div>



		</div>
</div>
</div>
    </div>
</footer>
{% endblock %}



</body>
