{% extends 'games/base.html' %}
<html>
<head>
    <title>Dashboard</title>

</head>
<body>


{% if user.is_authenticated %}
  <p>Welcome, {{ user.username }} !</p>

  {% else %}

{% endif %}
</body>
</html>



