<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    body {
    background-image: url(https://i.pinimg.com/474x/0b/6b/a8/0b6ba8e47cfb2932416f613eba76cf95.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;}

    /* Add the blur effect */
   /* filter: blur(8px);
    -webkit-filter: blur(8px);
}
</style>
<body>
{% block content %}

<nav class="navbar navbar-inverse">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href="/home/" class="navbar-brand">
      <!-- Logo Image -->
      <img src="https://image.shutterstock.com/image-photo/soccer-ball-goal-on-blue-600w-664109830.jpg" width="65" alt=""  align-left mr-2">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

  </button>
    </a>
    <ul class="nav navbar-nav">
      <li class="active"><a href="home">home</a></li>
      <li><a href="services">services</a></li>
      <li><a href="blogs">blogs</a></li>
      <li><a href="aboutus">aboutus</a></li>
        <li><a href="contact">contact</a></li>

    </ul>
  </div>
</nav>
</nav>
    {% endblock %}
</body>
</html>
































