{% load socialaccount %}
{% providers_media_js %}
{%load static %}

<html>
<head>
    <title> Signup Form</title>
    <link rel="stylesheet"  type="text/css" href="{% static 'css/style1.css' %} ">

</head>
<body>

      <div id="login-box">

          <div class="left-box">
              <h1>
                  Sign Up
              </h1>
              <form method="post" action="">
                  {% csrf_token %}
                  {{ frm.as_p }}

                  <button type="submit">Submit</button>
                   </form>
          </div>

          <div class="right-box">
               <span class="signinwith">Sign in with<br>Social Network
              </span>
              <a href="{% url 'social:begin' 'facebook' %}?next={{  request.get_full_path }}"><button class="social facebook" >Log in with Facebook</button></a>
              <a href="{% url 'social:begin' 'google-oauth2' %}?next={{  request.get_full_path }}"><button class="social google">Log in with Google</button></a>



          </div>
          <div class="or">OR
          </div>
      </div>


</body>
</html>