{% load static %}
<!DOCTYPE html>

<html lang="zxx">


<head>
    <meta charset="UTF-8">


    <title></title>
     <link rel="stylesheet"  type="text/css" href="{% static 'css/style.css' %} ">
</head>

<body>
    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="logo">
                <a href="home"><img src="{% static 'img/logo.jpeg'%}" alt="Image" height="30" width="75"></a>
            </div>
            <nav class="main-menu mobile-menu">
                <ul>
                    <li class="active"><a href="home.html">Home</a></li>
                    <li><a href="how-it-works.html">League</a></li>
                    <li><a href="listings.html">Grounds</a></li>
                    <li><a href="blog.html">Category</a></li>
                    <li><a href="contact.html">Contact</a></li>
                </ul>
            </nav>
            <div class="header-right">
                <div class="user-access">
                     <ul class="navbar-nav mr-auto">
                         <li class="nav-item active"><a class="nav-link" href="/login/">Login/Register</a></li>
                     </ul>
                </div>
            </div>

        </div>
    </header>
    <!-- Header End -->

    <!-- Hero Section Begin -->
 <section class="hero-section set-bg">
      <div class="container-fluid">
            <div class="background-image">
                <img src="{% static 'img/bg.jpg'%}"
                     style="width:100%;height:100%;position:absolute;top:0;left:0;z-index:-5000;">
            </div>
      </div>
 </section>
<!--slider starts -->

