<html>
<head>


    <center>
        <font size="24"><strong> Book Your Sports</strong></font>
  </center>
    <style>


body {
  background-image: url(https://thehappyandgayexperience.files.wordpress.com/2012/03/4.jpg);
  height: 100%;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}
        .container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 70%;
            padding-top: 0.2px;
            padding-bottom: 0.2px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
            margin-top: 250px;
            margin-bottom: 80px;

}
        .row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -32px;
    margin-left: -32px;
}
        @media (min-width: 768px) {
            .col-md-2 {
                -ms-flex: 0 0 16.666667%;
                flex: 0 0 22.666667%;
                max-width: 44.666667%;

            }
        }
        .form-group {
    margin-bottom: 0.6rem;

}
      p {
    margin-top: 0;
    margin-bottom: 0.6rem;

}

</style>
</head>

<!------ Include the above in your HEAD tag ---------->
<!-----<div class="header">
			<h1 class="logo">GameCourt</h1>
			<form style="float:right;display:inline-block;line-height:52px;padding-right:14px;">

			</form>
		</div>-------->
<body>
{% block content %}

<div class="container-fluid bg-light ">
	<div class="row align-items-center justify-content-center">
            	        <div class="col-md-2 pt-3">

                           <div class="form-group ">
                              <select id="inputState " class="form-control" style="width: 180px;">
                                  <i class="fas fa-map-marker"></i>
                                <option>Location</option>
                                <option>Hyderabad</option>
                                <option>Pune</option>
                                <option>Chennai</option>
                                <option>Bangalore</option>
                              </select>
                           </div>
                        </div>
                        <div class="col-md-2 pt-3">
                            <div class="form-group">
                              <select id="inputState1" class="form-control"style="width: 160px;">
                                <option selected>Type of sports</option>
                                  <br>
                                <option>Outdoor</option>
                                <option>Cricket</option>
                                <option>Football</option>
                                <option>Basketball</option>
                              </br>
                                  <br>
                                  <option>Indoor</option>
                                <option>Carroms</option>
                                <option>Foosball</option>
                                <option>badminton</option>
                              </br>

                              </select>
                            </div>
                        </div>
                        <div class="col-md-2 pt-3">
                            <div class="form-group" >
                                <input id="datepicker" value="Select date" width="170" />
    <script>
        $('#datepicker').datepicker({
            uiLibrary: 'bootstrap'
        });
    </script>


                        </div>
                        </div>
                        <div class="col-md-2 pt-3">
                            <div class="form-group">
                                <button type="button" class="btn btn-primary btn-block">Search</button>
            	        </div>
                        </div>
</div>
</div>
{% endblock %}
</body>
</html>




