
html,
body {
	height: 100%;
	font-family: "Lato", sans-serif;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	background: none;
	}

/*---------------------
  Header
-----------------------*/

.header-section {
	height: 80px;
	padding: 15px  15px 0px;
	position: absolute;
	z-index: -1;
	width: 100%;

}

.header-section.listings:after {
	opacity: 4.0;
}
.header-section:after {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: #1d1d1d;
	content: "";
	opacity: 0.49;
	z-index: -1;
}
.header-section .logo {
	float: left;
	margin-right: 115px;

}

.header-section .logo a {
	display: inline-block;
	padding-bottom: 400px;
}

.header-section .main-menu {
	float: left;
}

.header-section .main-menu ul li {
	display: inline-block;
	list-style: none;
	margin-right: 55px;
}

.header-section .main-menu ul li.active a {
	color: #FF5581;
}

.header-section .main-menu ul li a {
	color: #fff;
	display: inline-block;
	font-size: 20px;
	font-weight: 400;
	line-height: 42px;
	-webkit-transition: all 0.2s;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.header-section .main-menu ul li a:hover {
	color: white;
}

.header-section .header-right {
	float: right;
}

.header-section .header-right .user-access {
	display: inline-block;
	margin-right: 25px;
	padding: 10px 5px;

}

.header-section .header-right .user-access a {
	display: inline-block;
	color: #fff;
	font-size: 16px;
	font-weight: 250;
	border-style: groove;
	border-size: 3px;
	background: #db1b23;
	border-color: #fff;
	padding: 2px 7px ;
    float: left;

}

.slicknav_menu {
	display: none;
}




/*---------------------
  Hero Section
-----------------------*/
.owl-carousel.home-slider
.slider-item{
background-image: url('{% static 'img/crick.jpg'%}');
background-size: cover;
background-repeat: no-repeat;
background-position: center center;
height: calc(100vh - 117px);
in-height: 700px;
position: relative;
}

/*---------------------
/* -------------------------------- Responsive Media Styles ----------------------------------*/

@media only screen and (min-width: 1350px) and (max-width: 1920px) {
	.header-section .logo {
		margin-right: 180px;
	}
}

@media only screen and (min-width: 1200px) and (max-width: 1300px) {
	.header-section .logo {
		margin-right: 90px;
	}
	.header-section .main-menu ul li {
		margin-right: 40px;
	}
}

/* Medium Device : 992px */

@media only screen and (min-width: 992px) and (max-width: 1199px) {
	.header-section .logo {
		margin-right: 60px;
	}
	.header-section .main-menu ul li {
		margin-right: 20px;
	}
	.header-section .main-menu ul li a {
		font-size: 18px;
		line-height: 46px;
	}
	.header-section .header-right .user-access a {
		font-size: 18px;
	}
	.header-right .primary-btn {
		padding: 11px 20px 15px;
	}
	.header-section .main-menu ul li:last-child {
		margin-right: 0;
	}


/* Tablet Device : 768px */

@media only screen and (min-width: 768px) and (max-width: 991px) {
	.header-section .logo {
		max-width: 130px;
		margin-right: 20px;
		padding-top: 8px;
	}
	.header-section .main-menu ul li {
		margin-right: 10px;
	}
	.header-section .main-menu ul li a {
		font-size: 16px;
		line-height: 46px;
	}
	.header-section .header-right .user-access {
		margin-right: 5px;
	}
	.header-section .header-right .user-access a {
		font-size: 16px;
	}
	.header-right .primary-btn {
		padding: 10px;
		font-size: 18px;
	}

/* Large Mobile : 480px */

@media only screen and (max-width: 767px) {
	.header-section .logo {
		margin-right: 0;
	}
	.header-section .main-menu {
		display: none;
	}
	.header-section .header-right {
		display: none;
	}
	.header-section .header-right-warp .header-right {
		display: block;
		float: none;
		padding: 10px 25px 5px;
	}
	.header-section .header-right-warp .header-right .user-access {
		display: block;
		padding: 10px 0;
	}
	.header-section .header-right-warp .header-right .user-access a {
		padding: 0;
	}
	.header-section .header-right-warp .header-right .primary-btn {
		display: inline-block;
	}
	.header-section .header-right-warp .header-right .primary-btn:hover {
		background: #FF5581;
		color: #fff;
	}




