 body
 {
        margin: 0;
        padding: 0;
        background: #efefef;
        font-size: 16px;
        color: #777;
        font-family: sans-serif;
        font-weight: 300;
 }
 #login-box
 {
       position: relative;
       margin: 5% auto;
       height: 550px;
       width: 600px;
       background: #fff;
       box-shadow: 0 2px 4px r gba(0,0,0,0.6);
 }
 .left-box
 {
      position: absolute;
      top: 0;
      left: 0;
      box-sizing: border-box;
      padding: 40px;
      width:  300px;
      height: 400px
 }
 h1
 {
      margin: 0 0 20px 0;
      font-weight: 300;
      font-size: 28px;
 }
 input[type="text"],
 input[type="password"]
 {
        display: block;
        box-sizing: border-box;
        margin-bottom: 20px;
        padding: 4px;
        width: 220px;
        height: 32px;
        border: none:
        outline: none;
        border-bottom: 2px solid #aaa;
        border-right: none;
        border-left: none;
        border-top: none;
        font-family: sans-serif;
        font-weight: 400;
        font-size: 15px;
        transition: 0.2s ease;
 }
 input[type="submit"]
 {
          margin-bottom: 28px;
          width: 120px;
          height: 32px;
          background: #f44336;
          border: none;
          border-radius: 2px;
          color: #fff;
          font-family: sans-serif;
          font-weight: 500;
          text-transform: uppercase;
          transition: o.2s ease;
          cursor: pointer;
 }
input[type="submit"]:hover,
input[type="submit"]:focus
 {
 background: #ff572;
 transition: 0.2s ease;
 }
 .right-box
 {
 position: absolute;
 top: 0;
 right: 0;
 box-sizing: border-box;
 padding: 40px;
 width: 300px;
 height: 400px;
 background-image:url('cri.jpg');
 background-size: cover;
 background-position: center;
 }
 .or
 {
 position: absolute;
 top: 180px;
 left: 280px;
 width: 40px;
 height: 40px;
 background: #efefef;
 border-radius: 0 2px 4px rgba(0,0,0,0.6); 
 line-height: 40px;
 text-align:center;
 }
 .signinwith
 {
            display: block;
            margin-bottom: 40px;
            font-size: 28px;
            color: red;
            text-align: center;

 }
 .facebook
 {
             margin-bottom: 20px;
             width: 220px;
             height: 36px;
             border: none;
             border-radius: 2px;
             color: #fff;
             font-family: sans-serif;
             font-weight: 500;
             transition: 0.2s ease;
             cursor: pointer;
 }
 .google
 {
             margin-bottom: 20px;
             width: 220px;
             height: 36px;
             border: none;
             border-radius: 2px;
             color: #fff;
             font-family: sans-serif;
             font-weight: 500;
             transition: 0.2s ease;
             cursor: pointer;
 }
 .facebook
 {
            background: #32508e;
 }
 .google
 {
             background: #dd4b39;
 }

